<body>
    <div id="tudo">
        <div id="fundo"></div>
        <h2>DESTAQUES</h2>
        <p>Tudo do seu jeitinho!</p>
        <div id="destaques">
    
            <div class="box-destaque" id="destaque1">
                <div>
                    <img src="assets/destaque.png" alt="imagem" class="img-destaque">
                </div>
                <button>Kits mesa</button>
            </div>
    
            <div class="box-destaque" id="destaque2">
                <div>
                    <img src="assets/destaque2.png" alt="imagem" class="img-destaque">
                </div>
                <button>Tapetes</button>
            </div>
    
            <div class="box-destaque" id="destaque3">
                <div>
                    <img src="assets/destaque3.png" alt="imagem" class="img-destaque">
                </div>
                <button>Almofadas</button>
            </div>
        </div>
        
    </div>
    
</body>
