$cor-texto: #5B5247;
$dourado-claro:#D1BB93;
$dourado:#AF9D81;
$cinza-claro:#f7f2ea;

*{
    max-width: 100dvw;
}

#tudo{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 4rem;

}

#fundo{
    position: absolute;
    width: 70dvw;
    height: 75dvh;
    background-color: $dourado-claro; /* Cor de fundo desejada */
    z-index: -1;
}

.img-destaque{
    width: auto;
    height: 20dvw;
    border-radius: 10px;

    transition: transform 0.3s;
    transition-duration: 0.3s;
}

.img-destaque:hover{
    transform: scale(1.1);
}

#destaques{
    display: flex;
    width: 100dvw;
    justify-content: center;
    margin: 3rem;
}

.box-destaque{
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    width: fit-content;
    font-size:1.5rem ;
    padding: 1rem;
    border-radius: 50px;
    background-color:$dourado;
    color: white;
    margin-top: 1.5rem;
    cursor: pointer;
    transition: transform 0.3s;
    transition-duration: 0.3s;
}

button:hover{
    transform: scale(1.1);
    
}


//============================================================MOBILE============================================================

@media(max-width: 875px) {
    #destaques{
        display: flex;
        flex-direction: column;
        width: 100dvw;
        justify-content: center;
        margin: 3rem;
    }
    .img-destaque{
        width: auto;
        height: 60dvw;
    }
    .box-destaque button{
        width: 40dvw;
        font-size:1.2rem;
        padding: 0.5rem 1rem 0.5rem 1rem;
        border-radius: 50px;
        background-color:$dourado ;
        color: white;
        margin-top: 1.5rem;
        margin-bottom: 1.7rem;
    }
    #fundo{
        position: absolute;
        width: 70dvw;
        height: 100%;
        background-color: $cinza-claro; /* Cor de fundo desejada */
        z-index: -1;
    }

    #img-fundo{
        width: auto;
        border-radius: 10px;
        background-image: url(../../../assets/destaque.png);
    }





}