<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header>
        <nav>
            <div>
                <p><a href="#" class="links-nav">HOME</a></p>
                <p><a href="#" class="links-nav">SOBRE NÓS</a></p>
            </div>

            <h3>Orleânia</h3>
            <div>
                <p><a href="#" class="links-nav">CONTATO</a></p>
                <p><a href="#" class="links-nav">COMPRAR</a></p>
            </div>
        </nav>
    </header>
    <div id="promo-bar"><p><u>15% de desconto na primeira compra</u></p></div>
    <main>

        <div id="main">
                <img src="assets/inicio.png" alt="" id="background-inicio">
                
                <h1>SUA CASA <br> DO SEU JEITO</h1>

                <a [routerLink]="produtos"><button>Comprar agora</button></a>

        </div>
    </main>
</body>
