<body>
    <header>
        <h2>OrleâniaStore</h2>
    </header>
    <div id="fundo"></div>
    <main>
        
        <h3>Categoria</h3>
        <div id="lista-produtos">
            <div class="box-produto" *ngFor="let item of produtos">
                    <img src={{item.foto}} alt="">
                <div class="preco-btn">
                    <p class="preco">{{item.preco}}</p>
                    <button class="btn-buy">Comprar</button>
                </div>
            </div>
        </div>
    </main>
    <app-footer></app-footer>
</body>
