<body>
    <header>
        <h2>OrleâniaStore</h2>
        <a href="#"><img src="" alt="icone">menu</a>
    </header>
    <main>
        <h3>Categoria</h3>
        <div id="lista-produtos">
            <div class="box-produto">
                <a href="">
                    <img src="assets/produtos/20240530_141652.jpg" alt="">
                </a>
                <p class="preco">R$39,99</p>
                <button class="btn-buy">Comprar</button>
            </div>
        </div>
    </main>
</body>
