<body>
    <div id="tudo">
        <div id="fundo"></div>
        <div id="content">
            <div id="img-grid">
                <img src="assets/colecao1.png" alt="" id="img1">
                <img src="assets/colecao2.png" alt="" id="img2">
                <img src="assets/colecao3.png" alt="" id="img3">
            </div>
            <div id="text">
                <h2>NOVAS COLEÇÕES</h2>
                <p>Temos coleções prontas além de podermos <br> <u>criar uma só pra você!</u></p>
                <button>VER MAIS</button>
            </div>
            
        </div>
    
    </div>

</body>
